<div class="userContainer" *ngIf="user">
  <p *ngIf="!hasAllObligatoryFields()">
    Vyplňte prosím všechna povinná pole.
  </p>

  <form [formGroup]="profileForm">
    <ngb-alert type="danger" *ngIf="hasAllObligatoryFields() && user && !user.willAttend">
      <p>Zrušili jste svoji účast na akci. Pomocí tlačítka níže se můžete znovu přihlásit.</p>
      <br>
      <button mat-raised-button (click)="save()">Znovu se přihlásit na akci</button>
    </ngb-alert>
    <ngb-alert type="success" *ngIf="savedNotice">
      <strong>
        Vaše změny byly úspěšně uloženy.
      </strong>
    </ngb-alert>
    <h1>Profil uživatele</h1>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput type="text" id="name" class="input" placeholder="Nick nebo jméno*" formControlName="name">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput type="text" id="email" class="input" placeholder="email" formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Stravování:
      </div>
      <div class="col-md-8">
        <input type="checkbox" name="lunch" formControlName="lunch">
      </div>
    </div>
    <div class="row">
      <button mat-raised-button *ngIf="user && user.willAttend" (click)="save()">Uložit změny</button>
      <button mat-raised-button *ngIf="user && user.willAttend" (click)="cancelRegistration()">Zruš registraci
      </button>
      <button mat-raised-button *ngIf="user && !user.willAttend" (click)="save()">Zaregistrovat se</button>
    </div>
  </form>
</div>
